<div class="columns is-centered">
  <section class="section">
    <h1 class="title is-1">Your characters</h1>
    <div class="block">
      <app-character-create
        [userId]="user._id"
        [charactersLength]="user.characters.length"
        (characterCreated)="updateUser($event)"
      >
      </app-character-create>
    </div>
    <div class="block">
      <app-characters-list [user]="user"></app-characters-list>
    </div>
    <div class="block has-text-centered has-text-weight-bold">
      <div class="control">
        <!-- href force reload component -->
        <a href="/lobby">
          <button
            class="button is-medium is-rounded is-warning has-text-weight-bold"
          >
            Launch new fight !
          </button>
        </a>
      </div>
    </div>
  </section>
</div>
