<div class="columns">
  <div class="column is-full has-text-centered">
    <div class="turn is-size-1">
      <ng-container *ngIf="!isLoading && currentTurn.number > 0">
        Turn
        <span
          class="is-family-monospace has-text-weight-bold has-text-black"
          [class.zoom-in-zoom-out]="turnUpdated"
        >
          {{ currentTurn.number }}</span
        >
      </ng-container>
    </div>
  </div>
</div>

<div class="section">
  <div class="columns">
    <div class="column is-align-self-center first-fighter">
      <app-fighter-card
        *ngIf="user && fighter"
        [ownerName]="user.name"
        [turnAttackResult]="currentTurn.attackResults[1]"
        [turnDiceResult]="currentTurn.dicesResults[0]"
        [isWinner]="fighterWinner"
        [fighter]="fighter"
        [magicTriggered]="currentTurn.attackResults[0]?.magikPointsAdded"
      >
      </app-fighter-card>
    </div>
    <div class="column">
      <figure class="image vs-separator">
        <img src="assets/yellow-thunder.png" />
      </figure>
    </div>
    <div class="column is-align-self-center second-fighter">
      <app-fighter-card
        *ngIf="opponentFighter && currentTurn"
        [ownerName]="opponentOwnerName"
        [turnAttackResult]="currentTurn.attackResults[0]"
        [turnDiceResult]="currentTurn.dicesResults[1]"
        [isWinner]="opponentWinner"
        [fighter]="opponentFighter"
        [magicTriggered]="currentTurn.attackResults[1]?.magikPointsAdded"
      >
      </app-fighter-card>
      <ng-container *ngIf="isLoading">
        <div class="content has-text-centered">Searching opponent ...</div>
        <div class="box">
          <progress class="progress is-small is-info" max="100"></progress>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div *ngIf="finalResults || error" class="countdown has-text-centered">
  <p *ngIf="error" class="has-text-danger">{{ error }}</p>
  You will be redirected in {{ timeLeftBeforeNavigation }} seconds
</div>
