.vs-separator {
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(50% - 140px);
  height: auto;
  width: 280px;
}

.turn {
  height: 76px;
}

.first-fighter {
  margin-left: 5em;
}

.second-fighter {
  margin-right: 5em;
}

.countdown {
  padding-bottom: 25px;
}
