<p *ngIf="charactersLength === 0">
  You don't have any characters yet, let's create one !
</p>
<hr />
<div *ngIf="charactersLength < 10" class="field">
  <div class="columns">
    <div class="column">
      <div class="block">
        <label class="label">Name</label>
        <div class="control">
          <input
            [(ngModel)]="newCharacterName"
            (keyup)="viewCharacterLive()"
            class="input"
            type="text"
            placeholder="Type a name"
          />
        </div>
        <p class="help is-danger">{{ errorMessage }}</p>
      </div>
    </div>
    <div class="column is-three-quarters">
      <div class="block" *ngIf="liveCharacter">
        <div
          class="live-character"
          [innerHtml]="liveCharacter | safeHtml"
        ></div>
      </div>
    </div>
  </div>
  <div class="block">
    <button class="button is-rounded" (click)="createCharacter()">
      <span class="icon">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
      </span>
      <span>Create a new character</span>
    </button>
  </div>
</div>
