<div *ngIf="user.characters.length > 0" class="table-container">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Name</th>
        <th>Rank</th>
        <th>Health</th>
        <th>Attack</th>
        <th>Defense</th>
        <th>Magik</th>
        <th>Skill Points</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let character of user.characters"
        class="has-text-centered"
        [class.is-selected]="fighterSelected?._id === character._id"
      >
        <td>
          <button
            class="button is-rounded"
            [disabled]="character.status !== 'Ready'"
            (click)="select(character)"
          >
            <span
              [class.has-text-primary]="fighterSelected?._id === character._id"
              *ngIf="fighterSelected?._id === character._id"
            >
              <fa-icon [icon]="['fas', 'check-circle']"> </fa-icon>
            </span>
            <span
              *ngIf="!fighterSelected || fighterSelected?._id !== character._id"
            >
              <fa-icon [icon]="['fas', 'dot-circle']"> </fa-icon>
            </span>
          </button>
        </td>
        <td>
          <div
            class="character-picture"
            [innerHTML]="character.picture | safeHtml"
          ></div>
        </td>
        <td class="has-text-weight-bold">{{ character.name }}</td>
        <td class="is-family-monospace">{{ character.rank }}</td>
        <td class="is-family-monospace">{{ character.health }}</td>
        <td class="is-family-monospace">{{ character.attack }}</td>
        <td class="is-family-monospace">{{ character.defense }}</td>
        <td class="is-family-monospace">{{ character.magik }}</td>
        <td class="is-family-monospace">
          <button
            [disabled]="character.skillPoints === 0"
            [routerLink]="['/dashboard/character-update', character._id]"
            class="button is-rounded"
          >
            {{ character.skillPoints }}
          </button>
        </td>
        <td>
          <span
            class="tag has-tooltip-arrow {{ character.statusClass }} "
            [attr.data-tooltip]="
              character.restEndDate ? getResting(character.restEndDate) : null
            "
            >{{ character.status }}</span
          >
        </td>
        <td>
          <div class="field has-addons">
            <p class="control">
              <button
                class="button is-info is-small"
                [routerLink]="['/dashboard/character', character._id, 'fights']"
              >
                <span class="icon">
                  <fa-icon [icon]="['fas', 'crown']"></fa-icon>
                </span>
                <span>Fights</span>
              </button>
            </p>
            <p class="control">
              <button
                class="button is-info is-small"
                (click)="viewCharacter(character._id)"
              >
                <span class="icon">
                  <fa-icon [icon]="['fas', 'id-card']"></fa-icon>
                </span>
                <span>View</span>
              </button>
            </p>
            <p class="control">
              <button
                class="button is-danger is-small"
                (click)="openModaleDeleteCharacter(character)"
              >
                <span class="icon">
                  <fa-icon [icon]="['fas', 'times']"></fa-icon>
                </span>
                <span>Delete</span>
              </button>
            </p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-character-infos
  *ngIf="characterSelected"
  [isActive]="isCharacterModalActive"
  [character]="characterSelected"
  (closeEvent)="isCharacterModalActive = false"
>
</app-character-infos>

<app-character-delete-modal
  *ngIf="characterToDelete"
  [isActive]="isCharacterToDeleteModalActive"
  [character]="characterToDelete"
  (closeEvent)="isCharacterToDeleteModalActive = false"
  (confirmEvent)="deleteCharacter()"
>
</app-character-delete-modal>
