<div *ngIf="user.characters.length > 0" class="table-container">
  <table class="table is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Rank</th>
        <th>Health</th>
        <th>Attack</th>
        <th>Defense</th>
        <th>Magik</th>
        <th>Fights</th>
        <th>Skill Points</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let character of user.characters" class="has-text-centered">
        <td>
          <div class="character-picture" [innerHTML]="character.picture | safeHtml"></div>
        </td>
        <td class="has-text-weight-bold">{{ character.name }}</td>
        <td class="is-family-monospace">{{ character.rank }}</td>
        <td class="is-family-monospace">{{ character.health }}</td>
        <td class="is-family-monospace">{{ character.attack }}</td>
        <td class="is-family-monospace">{{ character.defense }}</td>
        <td class="is-family-monospace">{{ character.magik }}</td>
        <td class="is-family-monospace">{{ character.fights.length }}</td>
        <td class="is-family-monospace">
          <button
            [disabled]="character.skillPoints === 0"
            [routerLink]="['/dashboard/character-update', character._id]"
            class="button is-rounded">{{ character.skillPoints }}</button>
        </td>
        <td>
          <span class="tag {{ character.statusClass }}">{{ character.status }}</span>
        </td>
        <td>
          <div class="field has-addons">
            <p class="control">
              <button class="button is-info is-small" (click)="viewCharacter(character._id)">
                <span class="icon">
                  <fa-icon [icon]="['fas', 'id-card']"></fa-icon>
                </span>
                <span>View</span>
              </button>
            </p>
            <p class="control">
              <button class="button is-danger is-small" (click)="deleteCharacter(character._id)">
                <span class="icon">
                  <fa-icon [icon]="['fas', 'times']"></fa-icon>
                </span>
                <span>Delete</span>
              </button>
            </p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-character-infos
  *ngIf="characterSelected"
  [isActive]="isCharacterModalActive"
  [character]="characterSelected"
  (closeEvent)="isCharacterModalActive = false">
</app-character-infos>
