<div *ngIf="user.characters.length > 0" class="table-container">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>
          <span class="sortable" (click)="sortCharacters('name')">
            <span class="icon-container">
              <ng-container *ngIf="!sorts.name.sorted">&nbsp;</ng-container>
              <fa-icon
                *ngIf="sorts.name.sorted"
                [icon]="['fas', sorts.name.asc ? 'sort-down' : 'sort-up']"
              >
              </fa-icon>
            </span>
            Name</span
          >
        </th>
        <th>
          <span class="sortable" (click)="sortCharacters('rank')">
            <span class="icon-container">
              <ng-container *ngIf="!sorts.rank.sorted">&nbsp;</ng-container>
              <fa-icon
                *ngIf="sorts.rank.sorted"
                [icon]="['fas', sorts.rank.asc ? 'sort-down' : 'sort-up']"
              >
              </fa-icon>
            </span>
            Rank</span
          >
        </th>
        <th>
          <span class="sortable" (click)="sortCharacters('health')">
            <span class="icon-container">
              <ng-container *ngIf="!sorts.health.sorted">&nbsp;</ng-container>
              <fa-icon
                *ngIf="sorts.health.sorted"
                [icon]="['fas', sorts.health.asc ? 'sort-down' : 'sort-up']"
              >
              </fa-icon>
            </span>
            Health</span
          >
        </th>
        <th>
          <span class="sortable" (click)="sortCharacters('attack')">
            <span class="icon-container">
              <ng-container *ngIf="!sorts.attack.sorted">&nbsp;</ng-container>
              <fa-icon
                *ngIf="sorts.attack.sorted"
                [icon]="['fas', sorts.attack.asc ? 'sort-down' : 'sort-up']"
              >
              </fa-icon>
            </span>
            Attack</span
          >
        </th>
        <th>
          <span class="sortable" (click)="sortCharacters('defense')">
            <span class="icon-container">
              <ng-container *ngIf="!sorts.defense.sorted">&nbsp;</ng-container>
              <fa-icon
                *ngIf="sorts.defense.sorted"
                [icon]="['fas', sorts.defense.asc ? 'sort-down' : 'sort-up']"
              >
              </fa-icon>
            </span>
            Defense</span
          >
        </th>
        <th>
          <span class="sortable" (click)="sortCharacters('magik')">
            <span class="icon-container">
              <ng-container *ngIf="!sorts.magik.sorted">&nbsp;</ng-container>
              <fa-icon
                *ngIf="sorts.magik.sorted"
                [icon]="['fas', sorts.magik.asc ? 'sort-down' : 'sort-up']"
              >
              </fa-icon>
            </span>
            Magik</span
          >
        </th>
        <th>
          <span class="sortable" (click)="sortCharacters('skillPoints')">
            <span class="icon-container">
              <ng-container *ngIf="!sorts.skillPoints.sorted"
                >&nbsp;</ng-container
              >
              <fa-icon
                *ngIf="sorts.skillPoints.sorted"
                [icon]="[
                  'fas',
                  sorts.skillPoints.asc ? 'sort-down' : 'sort-up'
                ]"
              >
              </fa-icon>
            </span>
            Skill Points</span
          >
        </th>
        <th><span class="sortable">Status</span></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let character of user.characters"
        class="has-text-centered"
        [class.is-selected]="fighterSelected?._id === character._id"
      >
        <td>
          <button
            class="button is-rounded"
            [disabled]="character.status !== 'Ready'"
            (click)="select(character)"
          >
            <span
              [class.has-text-primary]="fighterSelected?._id === character._id"
              *ngIf="fighterSelected?._id === character._id"
            >
              <fa-icon [icon]="['fas', 'check-circle']"> </fa-icon>
            </span>
            <span
              *ngIf="!fighterSelected || fighterSelected?._id !== character._id"
            >
              <fa-icon [icon]="['fas', 'dot-circle']"> </fa-icon>
            </span>
          </button>
        </td>
        <td class="is-relative">
          <div
            class="character-picture"
            [innerHTML]="character.picture | safeHtml"
          ></div>
        </td>
        <td class="has-text-weight-bold">{{ character.name }}</td>
        <td class="is-family-monospace">
          <div class="badge">
            {{ character.rank }}
          </div>
        </td>
        <td class="is-family-monospace">{{ character.health }}</td>
        <td class="is-family-monospace">{{ character.attack }}</td>
        <td class="is-family-monospace">{{ character.defense }}</td>
        <td class="is-family-monospace">{{ character.magik }}</td>
        <td class="is-family-monospace">
          <button
            [disabled]="character.skillPoints === 0"
            [routerLink]="['/dashboard/character-update', character._id]"
            class="button is-rounded"
          >
            {{ character.skillPoints }}
          </button>
        </td>
        <td>
          <span
            class="tag has-tooltip-arrow {{ character.statusClass }} "
            [attr.data-tooltip]="
              character.restEndDate ? getResting(character.restEndDate) : null
            "
            >{{ character.status }}</span
          >
        </td>
        <td>
          <div class="field has-addons">
            <p class="control">
              <button
                class="button is-info is-small"
                [routerLink]="['/dashboard/character', character._id, 'fights']"
              >
                <span class="icon">
                  <fa-icon [icon]="['fas', 'crown']"></fa-icon>
                </span>
                <span>Fights</span>
              </button>
            </p>
            <p class="control">
              <button
                class="button is-danger is-small"
                (click)="openModaleDeleteCharacter(character)"
              >
                <span class="icon">
                  <fa-icon [icon]="['fas', 'times']"></fa-icon>
                </span>
                <span>Delete</span>
              </button>
            </p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-character-delete-modal
  *ngIf="characterToDelete"
  [isActive]="isCharacterToDeleteModalActive"
  [character]="characterToDelete"
  (closeEvent)="isCharacterToDeleteModalActive = false"
  (confirmEvent)="deleteCharacter()"
>
</app-character-delete-modal>
