.character-picture {
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(3px 4px 4px #333);
}

app-skill-updater + app-skill-updater {
  margin-top: 1em;
  display: block;
}
