<div class="columns is-centered">
  <section class="section">
    <div class="character-picture is-centered" [innerHtml]="character.pictureSafe"></div>
    <h1 class="title is-1 has-text-centered">{{ character.name }} - Rank
      <span class="is-family-monospace">{{ character.rank }}</span>
    </h1>

    <div class="block is-size-2">
      Skill points available :
      <span class="is-family-monospace">{{ pointsAvailable }}</span>
    </div>

    <app-skill-updater
      skill="health"
      [initialPoints]="character.health"
      [pointsToAdd]="pointsToAdd.health"
      (addPoints)="addPoints('health')"
      (removePoints)="removePoints('health')">
    </app-skill-updater>
    <app-skill-updater
      skill="attack"
      [initialPoints]="character.attack"
      [pointsToAdd]="pointsToAdd.attack"
      (addPoints)="addPoints('attack')"
      (removePoints)="removePoints('attack')">
    </app-skill-updater>
    <app-skill-updater
      skill="defense"
      [initialPoints]="character.defense"
      [pointsToAdd]="pointsToAdd.defense"
      (addPoints)="addPoints('defense')"
      (removePoints)="removePoints('defense')">
    </app-skill-updater>
    <app-skill-updater
      skill="magik"
      [initialPoints]="character.magik"
      [pointsToAdd]="pointsToAdd.magik"
      (addPoints)="addPoints('magik')"
      (removePoints)="removePoints('magik')">
    </app-skill-updater>
    <hr>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-rounded is-success" (click)="update()">Submit</button>
      </div>
      <div class="control">
        <button
          class="button is-rounded is-warning"
          [routerLink]="['/dashboard']">Cancel
        </button>
      </div>
      <p *ngIf="errorMessage" class="help is-danger">{{ errorMessage }}</p>
    </div>
  </section>
</div>
