<div class="card">
  <header class="card-header">
    <p class="card-header-title has-text-centered is-size-5">
      @{{ ownerName }} / {{ fighter.name }}
    </p>
  </header>
  <div class="card-content has-ribbon">
    <div class="ribbon is-medium is-dark">
      Rank :
      <span class="is-family-monospace">{{ fighter.rank }}</span>
    </div>
    <div class="content has-text-centered">
      <div
        class="fighter-picture"
        [innerHTML]="fighter.picture | safeHtml"
      ></div>
      <div class="is-size-2">
        HP :
        <span class="is-family-monospace has-text-info has-text-weight-bold">
          <ng-container *ngIf="turnAttackResult">
            {{ turnAttackResult.opponentHpResult }}
            <span class="has-text-danger"
              >(-{{ turnAttackResult.result }})</span
            >
          </ng-container>
          <ng-container *ngIf="!turnAttackResult">
            {{ fighter.health }}
          </ng-container>
        </span>
      </div>
      <ul class="no-bullets">
        <li>
          Attack :
          <span class="is-family-monospace has-text-weight-bold">
            {{ fighter.attack }}
          </span>
        </li>
        <li>
          Defense :
          <span class="is-family-monospace has-text-weight-bold">
            {{ fighter.defense }}
          </span>
        </li>
        <li>
          Magik :
          <span class="is-family-monospace has-text-weight-bold">
            {{ fighter.magik }}
          </span>
        </li>
      </ul>
    </div>
  </div>
  <footer class="card-footer">
    <div *ngIf="turnDiceResult" class="card-footer-item">
      Dice result :
      <span class="is-family-monospace dice-result is-size-4">{{
        turnDiceResult.result
      }}</span>
    </div>
  </footer>
</div>
