<nav *ngIf="user" class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-end">
    <div class="navbar-item">
      <span class="user-name">{{ user.name }}</span>
    </div>
    <div class="navbar-item">
      <button class="button" (click)="signOut()">Sign out</button>
    </div>
  </div>
</nav>

<div *ngIf="user" class="columns is-centered">
  <section class="section">
    <h1 class="title is-1">Characters List</h1>
    <p *ngIf="user.characters.length === 0">You don't have any characters yet, let's create one !</p>
    <hr>
    <div *ngIf="user.characters.length < 10" class="field">
      <label class="label">Name</label>
      <div class="control">
        <input [(ngModel)]="newCharacterName" class="input" type="text" placeholder="Type a name">
      </div>
      <br>
      <p *ngIf="errorMessage"class="help is-danger">{{ errorMessage }}</p>
      <button class="button is-primary" (click)="createCharacter()">
        <span class="icon">
          <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        </span>
        <span>Create a new character</span>
      </button>
    </div>
    <app-characters-list
      *ngIf="user.characters.length > 0"
      (deleteEvent)="deleteCharacter($event)"
      [characters]="user.characters">
    </app-characters-list>
  </section>
</div>
